<article class="post">
  <h2  class="post-title">
    <a href="/post/{{id}}">{{post_title}}</a>
    </h2>
    {{#unless homePage }}
  <p class="post-text">{{post_text}}</p>
    {{/unless}}
  <p class="about">by <span class="username">{{user.username}}</span> on <span class="date">{{dateTime created_at}}</span></p>
</article>